- @questions.each do |question|
    %h2= link_to question.title, question
    %p
        = question.answers.count
        Comments
    %p
        = question.get_likes.size
        Likes
= link_to "New question", new_question_path