= simple_form_for([@question, @question.answers.build]) do |f|
    = f.input :content, as: :ckeditor, input_html: { ckeditor: { toolbar: 'mini'}}, label: false, required: true
    = f.button :submit, 'Responder', class: "button"
