// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$dark_gray: #2B2E2E;
$light_gray: #7a7a7a;
$wine: #990000;
$dark_green: #187f00;
$dark_red: #800000;

a {
    text-decoration: none;
    .up {
        color: $dark_green;
    }

    .down {
        color: $dark_red;
    }

    .edit {
        color: $dark_gray;
    }

    .trash {
        color: $dark_gray;
    }
}

.question_ans {
    overflow: hidden;
    .title {
        font-size: 1.5rem;
        font-weight: 3px;
        color: black;
        .tools {
            display: inline-block;
            font-size: 1rem;
            padding-top: 9px;
            text-decoration: none;
        }
    }
    .description {
        padding-top: 0.5rem;
        font-size: 1rem;
        color: $dark_gray;
    }
    .footer_ans {
        padding-top: 0.25rem;
        padding-bottom: 0.5rem;
        .author {
        font-size: 0.85rem;
        display: inline-block;
            p {
                padding: 0;
                margin: 0;
            }
            span {
                color: $wine;
            }
        }
        .likes {
            float: right;
        }
    }
}

.answer_count {
    font-family: "Brandon Grotesque","Helvetica Neue", Helvetica, sans-serif;
    font-size: 1rem;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $light_gray;
    color: $dark_gray;
    text-align: left;
}


.answer {
    border-bottom: 1px solid $light_gray;
    padding-top: 0.5rem;
    p {
        padding: 0px;
        margin: 0px;
    }
    .username {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 0.85rem;
        font-weight: 3;
        color: $wine;
    }
    .content {
        font-size: 1rem;
        color: $dark_gray;
    }

    .footer_answ {
        padding-top: 0.25rem;
        padding-bottom: 0.5rem;
        .author {
            font-size: 0.85rem;
            display: inline-block;
            p {
                padding: 0;
                margin: 0;
            }
            span {
                color: $wine;
            }
        }
        .likes {
            float: right;
        }
    }
}
