$dark_gray: #2B2E2E;
$light_gray: #c1c1c1;
$green: #33CD99;
$wine: #990000;

@mixin bold_font {
	font-family: "Brandon Grotesque","Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

body {
	padding-top: 4.5rem;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.wrapper_with_padding {
	width: 80%;
	margin: 0 auto;
	padding: 3.5rem 0;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

button, .button {
	border: none;
	outline: none;
	background: $wine;
	padding: 0.4rem 1.5rem;
	border-radius: 2rem;
  float: right;
  cursor:pointer;
	a {
		color: white;
		text-decoration: none;
	}
}

.button {
	color: white;
  margin-top: 0.5rem;
}

// a {
// 	color: $wine;
// 	text-decoration: none;
// 	&:hover {
// 		color: $dark_gray;
// 	}
// }

header {
	background: white;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 1rem 0;
	border-bottom: 7px solid $wine;
	.header_inner {
		width: 90%;
		margin: 0 auto;
		#logo {
			  display: inline-block;
   			float: left;
        width: 200px;
        img {
            max-height: 100%;
            max-width: 100%;
        }
		}
		nav {
			float: right;
			a {
				text-decoration: none;
				color: $dark_gray;
				font-size: 1.1rem;
				line-height: 1.5;
				margin-left: 1rem;
				&:hover {
					color: $wine;
				}
			}
		}
	}
}

// footer {
// 	background: $dark_gray;
// 	width: 100%;
// 	padding: 2rem 0;
// 	color: white;
// 	text-align: center;
// 	@include bold_font;
// 	p {
// 		margin: 0;
// 		font-size: .85rem;
// 	}
// }

input[type="text"], textarea {
	  width: 100%;
	  border: 1px solid $light_gray;
	  border-radius: .4rem;
}

textarea {
    min-height: 100px;
}

// input[type="text"], input[type="email"], input[type="password"], textarea {
// 	width: 100%;
// 	margin-bottom: 1rem;
// 	border: 1px solid $light_gray;
// 	border-radius: .4rem;
// }

// input[type="text"], input[type="email"], input[type="password"] {
// 	height: 40px;
// }

// textarea {
// 	min-height: 200px;
// }


.tag_btn {
		background-color:#e6e6e6;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		display:inline-block;
		//cursor:pointer;
		color:#ab0000;
		font-family:Arial;
		font-size: 0.8rem;
		padding:5px 16px;
    margin-top: 4px;
    //						text-decoration:none;
}
.tag_btn:hover {
		background-color:#d4d4d4;
}
// .tag_btn:active {
//		 position:relative;
//		 top:1px;
// }
