// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title {
    font-family: "Brandon Grotesque","Helvetica Neue", Helvetica, sans-serif;
    font-size: 1rem;
    margin: 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $light_gray;
    color: $dark_gray;
    text-align: left;
}

.question {
		border-bottom: 1px solid $light_gray;
		padding: 0.5rem 0;
		overflow: hidden;
		.question_title {
        display: inline-block;
				a {
						font-size: 1.5rem;
						color: $wine;
						text-decoration: none;
						&:hover {
								color: $dark_gray;
						}
				}
		}
		.question_author {
				font-size: 0.8rem;
        color: $light_gray;
				display: inline-block;
		}
		.description {
				font-size: 0.95rem;
				color: $dark_gray;
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
				a {
						color: $dark_gray;
						text-decoration: none;
				}
		}

		.footer_q {
				padding-bottom: 0.25rem;
				padding-top: 0.25rem;
				display: inline-block;
				.tag_btn {
						background-color:#e6e6e6;
						-moz-border-radius:5px;
						-webkit-border-radius:5px;
						border-radius:5px;
						display:inline-block;
						//cursor:pointer;
						color:#ab0000;
						font-family:Arial;
						font-size: 0.8rem;
						padding:5px 16px;
//						text-decoration:none;
				}
				.tag_btn:hover {
						background-color:#d4d4d4;
				}
				// .tag_btn:active {
				//		 position:relative;
				//		 top:1px;
				// }
		}

		.number {
				font-size: 0.8rem;
				float: right;
		}

}
